<% if (loggedIn) { %>
    <%- include ('./templates/header.ejs', {"name": name}) %>
<% } else { %>
    <%- include ('./templates/headerloggedout.ejs') %>
<% } %>

<link rel="stylesheet" href="easterEgg.css">

<div class="container easterEggGame">
    <div class="row mt-3">
        <% let i=0; %>
        <% for(i=0; i < 4; i++) { %>
            <% if (i % 2 == 0) { %>
                <div class="col-3">
                    <img src="banana-dance.gif" class="img-fluid border-image" alt="Image 1">
                </div>
            <% } else { %>
                <div class="col-3">
                    <img src="snorlax-dumper.gif" class="img-fluid border-image" alt="Image 2">
                </div>
            <% } %>
        <% } %>
    </div>
    <div class="row text-center">
        <canvas id="pong" width="800" height="400"></canvas>
        <div class="roww">
            <button id="start-btn">Start Game</button>
            <button id="reset-btn">Reset Game</button>
        </div>
    </div>
    <div class="row mt-3">
        <% let k=0; %>
        <% for(k=0; k < 4; k++) { %>
            <% if (k % 2 == 0) { %>
                <div class="col-3">
                    <img src="banana-dance.gif" class="img-fluid border-image" alt="Image 1">
                </div>
            <% } else { %>
                <div class="col-3">
                    <img src="snorlax-dumper.gif" class="img-fluid border-image" alt="Image 2">
                </div>
            <% } %>
        <% } %>
    </div>
</div>

<script src="easterEgg.js"></script>




<%- include('templates/svgs.ejs') %>
<%- include('templates/footer.ejs') %>