<%- include('./templates/header.ejs', { "name": name }) %>

<h1 class="text-center"> Thank you for your submission!</h1><br>
<h2 class="text-center"> We'll use these answers to help populate the "Recommended" tab for you!</h2>
<div class="text-center">
    <button type="button" onclick="window.location.href='/'" class="btn btn-primary btn-lg">Back to home page</button>
</div>

<%- include('templates/svgs.ejs') %>
<%- include('templates/footer.ejs') %>