<div style="height: 60px;">

</div>
<footer class="footer fixed-bottom mt-auto py-3 bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/logo-transparent.png" alt="logo" width="20" height="auto">
  </a>
  <span class="text-white">© 2023 QuickQueue</span>
  </div>
</footer>
</body>
</html>