
<div class="form-check form-check-inline col">
    <input type="checkbox" class="btn-check" name="<%= genre%>" value="true" id="<%= genre%>Checkbox" autocomplete="off">
    <label class="btn btn-outline-primary" for="<%= genre%>Checkbox"><%= genre%></label><br>
</div>

