
<div class="form-check form-check-inline col">
    <input type="checkbox" class="btn-check" name="<%= platform%>" value="true" id="<%= platform%>Checkbox" autocomplete="off">
    <label class="btn btn-outline-primary" for="<%= platform%>Checkbox"><%= platform%></label><br>
</div>

