
<div class="form-check form-check-inline col">
    <input type="checkbox" class="btn-check" name="<%= playerNum%>" value="true" id="<%= playerNum%>Checkbox" autocomplete="off">
    <label class="btn btn-outline-primary" for="<%= playerNum%>Checkbox"><%= playerNum%></label><br>
</div>

