<div class="card col text-center" style="width: 18rem;">
    <img src="ToTK.jpg" class="card-img-top" alt="Tears of the Kingdom">
    <div class="card-body">
        <h5 class="card-title">Tears of the Kingdom</h5>
        <p class="card-text">This game is absolutely game of the year. <%= game %> </p>
        <a href="#" class="btn btn-primary">Not a working button yet</a>
    </div>
</div>