#gameCard{
    max-width: 33%;
}
@media screen and (max-width: 1500px){
    #gameCard{
        max-width: 33%;
    }
}
@media screen and (max-width: 900px){
    #gameCard{
        max-width: 100%;
    }
}

@media screen and (max-width: 576px){
    .gameImage{
        width: 100%;
    }
    
    #gameCard{ 
        max-width: 100%;
    }
}
